<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<!-- i believe this is a mistake and this upper settings section is not used. will test later. -->
            <section name="TicketMaster.Properties.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TicketMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TicketMaster.Properties.settings>
            <setting name="Server_ipaddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Server_port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dark_mode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Save_username" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Saved_username" serializeAs="String">
                <value>asdf</value>
            </setting>
        </TicketMaster.Properties.settings>
        <TicketMaster.Properties.Settings>
            <setting name="Server_ipaddress" serializeAs="String">
                <value>10.0.0.210</value>
            </setting>
            <setting name="Server_port" serializeAs="String">
                <value>5555</value>
            </setting>
            <setting name="Dark_mode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Save_username" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Saved_username" serializeAs="String">
                <value>aaaaaa</value>
            </setting>
        </TicketMaster.Properties.Settings>
    </userSettings>
</configuration>